#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.amountHead {
  font-size: 4.375rem;
  position: relative;
  width: fit-content;
  padding-right: 4rem;
}

.amountLabel {
  position: absolute;
  top: 17%;
  right: -0.8rem;
  color: var(--labelColor);
  font-size: .45em;
}

.subAmt {
  color: var(--greenShade);
  font-size: 1.125rem;
}

div.apexcharts-yaxistooltip.apexcharts-theme-dark,
div.apexcharts-yaxistooltip.apexcharts-theme-light {
  background: var(--darkThemeColor);
  border: none;
  border-radius: 5px;
  padding: 0.25rem 0.75rem;
  box-shadow: none;
  outline: none;
  left: auto !important;
  right: -0.2rem !important;
  font-size: 1rem !important;
  transition: top 0.1s;
}
div.apexcharts-yaxistooltip.apexcharts-theme-dark::before,
div.apexcharts-yaxistooltip.apexcharts-theme-light::before,
div.apexcharts-yaxistooltip.apexcharts-theme-dark::after,
div.apexcharts-yaxistooltip.apexcharts-theme-light::after {
  content: none;
}
div.apexcharts-xaxistooltip.apexcharts-theme-dark,
div.apexcharts-xaxistooltip.apexcharts-theme-light {
  display: none;
}

@media only screen and (max-width: 400px) {
  #root {
    padding: 1rem;
  }
  .amountHead {
    font-size: 3.375rem;
  }
  .amountLabel {
      right: .5rem;
  }
}
