#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.amountHead {
  font-size: 4.375rem;
  position: relative;
  width: fit-content;
}

.amountLabel {
  position: absolute;
  top: 1.2rem;
  left: calc(100% + 0.5rem);
  color: var(--labelColor);
  font-size: 1.5rem;
}

.subAmt {
  color: var(--greenShade);
  font-size: 1.125rem;
}