@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CircularStd";
  src: url("./fonts/circular-std-medium-500.ttf") format("truetype");
}

:root {
  line-height: 1.5;
  font-weight: 400;

  /* Website Theme */
  --themeColor: #4B40EE;
  --darkThemeColor: #1A243A;
  --lightFontColor: #6F7177;
  --greenShade: #67BF6B;
  --labelColor: #BDBEBF;
  --borderColor: #EFF1F3;


  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "CircularStd", system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--darkThemeColor);
}